Do we need to require the use of strict mode CBOR decoders?

Section 3.10 of RFC 7049 has good text in it about avoiding potential decoding errors.  Specifically things like duplicate keys in maps.   Does this need to be a general requirement on the use of CBOR decoders?

We have this where it is needed.